<h1>Xirgo Test application</h1>
<div>This is a solution template for creating a Single Page App (SPA) with Angular and ASP.NET Core following the principles of Clean Architecture.</div>
<hr />
<h3>Technolohies:</h3>
<ul>
  <li>.NET Core 3.1</li>
  <li>ASP .NET Core 3.1</li>
  <li>Entity Framework Core 3.1</li>
  <li>Angular 9</li>
  <li>MediatR</li>
  <li>AutoMapper</li>
  <li>FluentValidation</li>
  <li>NUnit, FluentAssertions, Moq &amp; Respawn</li>
</ul>
<h3>Database configurations: </h3>
<hr />
<p>The project is configured to use an in-memory database by default. This ensures that all users will be able to run the solution without needing to set up additional infrastructure (e.g. SQL Server).</p>
<p>If you would like to use SQL Server, you will need to update <strong>WebUI/appsettings.json</strong> as follows:</p>
<div class="highlight highlight-source-json"><pre>  <span class="pl-s"><span class="pl-pds">"</span>UseInMemoryDatabase<span class="pl-pds">"</span></span>: <span class="pl-c1">false</span>,</pre></div>
<p>Verify that the <strong>DefaultConnection</strong> connection string within <strong>appsettings.json</strong> points to a valid SQL Server instance.</p>
<p>When you run the application the database will be automatically created (if necessary) and the latest migrations will be applied.</p>

<h2>Overview</h2>
<hr />
<h3>Domain</h3>
<p>This will contain all entities, enums, exceptions, interfaces, types and logic specific to the domain layer.</p>
<h3>Application</h3>
<p>This layer contains all application logic. It is dependent on the domain layer, but has no dependencies on any other layer or project. This layer defines interfaces that are implemented by outside layers. For example, if the application need to access a notification service, a new interface would be added to application and an implementation would be created within infrastructure.</p>
<h3>Infrastructure</h3>
<p>This layer contains classes for accessing external resources such as file systems, web services, smtp, and so on. These classes should be based on interfaces defined within the application layer.</p>
<h3>WebUI</h3>
<p>This layer is a single page application based on Angular 9 and ASP.NET Core 3.1. This layer depends on both the Application and Infrastructure layers, however, the dependency on Infrastructure is only to support dependency injection. Therefore only <em>Startup.cs</em> should reference Infrastructure.</p>

<hr /> 
