
<div>
    <h4 class="title"> {{vechileVm.vechile.brandName}} {{vechileVm.vechile.modelName}} Details</h4>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of detailsVm.vechileDetails" (click)="vechileDetailsMap(item.latitude, item.longitude)" style="cursor: pointer;">
          <td>{{ item.latitude }}</td>
          <td>{{ item.longitude}} </td>
          <td>{{ item.speed}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a routerLink="/vechile">Go back</a>